@import url('../global.css');
@import url('../utils/modal.css');

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.photographer-header {
    background-color: #FAFAFA;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto 100px;
    padding: 0 50px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photographer-header h2 {
    color: #911C1C;
}

.photographer-header img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
}

.photographer-content {
    max-width: 1440px;
    margin: 0 auto 100px;
    padding: 0 100px;
}

.filter-container {
    margin: 20px 0;
    display: flex;
    position: relative;
    gap: 20px;
}

.filter-container p {
    font-weight: bold;
}

#filter {
    border: none;
    border-radius: 5px;
    background-color: #911C1C;
    color: white;
    padding: 10px;
    width: 170px;
    position: absolute;
    left: 75px;
    z-index: 1;
}

#filter button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-weight: bold;
}

#filter a, #filter a:visited {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#filter .filter-arrow {
    position: absolute;
    top: 15px;
    right: 15px;
}

#filter .option {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 10px 5px;
    text-align: center;
}

#filter .option:nth-child(3) {
    margin-top: 10px;
    border-top: white solid 1px;
    border-bottom: white solid 1px;
}

#filter .option:nth-child(4) {
    padding-bottom: 0;
}

#filter .option:hover {
    cursor: pointer;
}

#filter .option-displayed {
    padding: 0 5px;
}

.photographer-content-media {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: calc((100% - 1050px)/2);
}

.photographer-content-media a {
    display: block;
}

.image-box {
    position: relative;
    width: 350px;
}

.image-box-medium {
    height: 300px;
    width: 350px;
    object-fit: cover;
}

.image-box-medium:hover {
    cursor: zoom-in;
}

.image-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #901C1C;
}

.image-info p {
    font-weight: bold;
}

.image-info-likes {
    display: flex;
    align-items: center;
    gap: 10px;
}

.image-info-likes button {
    background-color: transparent;
    border: none;
    color: #901C1C;
}

.image-info-likes i {
    font-size: 20px;
}

.image-info-likes i:hover {
    cursor: pointer;
}

.info-box-container {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0 auto;
}

.info-box {
    background-color: #DB8876;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 376px;
    font-size: 24px;
    font-weight: bold;
    padding: 0 21px;
    margin-right: 100px;
}

.info-box p {
    margin: 10;
}

@media screen and (max-width: 1600px) {
    .photographer-header {
        margin: 0 100px;
    }
}